﻿@model ProjetoBandtec.Models.Cadastro

@{
    ViewBag.Title = "XPTO - Tela de Login";
}

@{
    Layout = "~/Views/_Layouts/LayoutLogin.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/CSS/cadastro.css" />
}

<body>
    <div class="div_inicial">
        <div class="div_texto">
            <div class="frase_impacto">
                Seja Bem vindo(a)
            </div>
            <div class="resumo_simples">
                Por favor, informe os dados necessários para se
                <br /> registrar em nosso sistema.
            </div>
        </div>
        <div>
            @using (Html.BeginForm("Cadastro", "XPTO", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.EditorFor(model => model.RazaoSocial, new { htmlAttributes = new { @class = "RazaoSocial", @placeholder = "Nome da Empresa" } })

                @Html.EditorFor(model => model.Cnpj, new { htmlAttributes = new { @class = "Cnpj", @placeholder = "CNPJ" } })

                @Html.EditorFor(model => model.DominioEmail, new { htmlAttributes = new { @class = "DominioEmail", @placeholder = "Dominio de Email" } })
                <p>
                    @Html.EditorFor(model => model.Hostname, new { htmlAttributes = new { @class = "Hostname", @placeholder = "Grupo" } })

                    @Html.EditorFor(model => model.Usuario, new { htmlAttributes = new { @class = "Usuario", @placeholder = "Seu Usuario" } })

                    @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @class = "Senha", @placeholder = "Sua Senha" } })


                </p>

                <input type="submit" value="Registrar" />

                <input type="button" value="Voltar" onclick="window.location.href=('@Url.Action("Login", "XPTO")')" />

                <div style="padding-top:5px; color:red;">
                    @Html.ValidationMessageFor(model => model.RazaoSocial)
                </div>

                <div style="padding-top:5px; color:red;">
                    @Html.ValidationMessageFor(model => model.Cnpj)
                </div>

                <div style="padding-top:5px; color:red;">
                    @Html.ValidationMessageFor(model => model.DominioEmail)
                </div>

                <div style="padding-top:5px; color:red;">
                    @Html.ValidationMessageFor(model => model.Hostname)
                </div>

                <div style="padding-top:5px; color:red;">
                    @Html.ValidationMessageFor(model => model.Usuario)
                </div>

                <div style="padding-top:5px; color:red;">
                    @Html.ValidationMessageFor(model => model.Senha)
                </div>
            }

            <br />
            <br />
            <br />
            <p style="font-size:18px; padding-top:45px; padding-left:45px; color:red">@ViewBag.Message</p>
        </div>
        <div class="logo_login">
            <img alt="Logo da Empresa XPTO" src="@Url.Content("~/Content/images/logoprovisorio.png")" />
        </div>
    </div>
</body>