﻿@{
    ViewBag.Title = "XPTO - Tela de Download";
}

@{
    Layout = "~/Views/_Layouts/LayoutSite.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/CSS/download.css" />
}

<body>
    <header>
        <nav>
            <a title="Tela de Máquinas" href=@Url.Action("Home", "XPTO")>Home</a>
            <a class="bloco_nav" href=@Url.Action("Download", "XPTO")>Download</a>
            <a title="Adicionar, Excluir e Editar Analistas" href=@Url.Action("Index", "CRUD")>Analistas</a>
        </nav>
        <div class="logo_site">
            <img alt="Logo da Empresa XPTO" src="@Url.Content("~/Content/images/logoprovisorio.png")" />
        </div>
    </header>
    <section>
        <div class="metade_img">
            <img src="@Url.Content("~/Content/images/XPTOApp.png")" />
        </div>
        <div class="metade_txt">
            <div id="titulo"><strong>XPTOApp</strong></div>
            <br /><strong>
                Para se conectar as máquinas da sua empresa com 
                <br />nosso serviço, é necessário evetuar o download
                <br />da nossa aplicação. Nosso instalador é simples e
                <br />ira rodar em segundo plano após executado, sem
                <br />que o usuário da máquina se preocupe com isso.
                <br />Baixe agora e teste nosso serviço.
            </strong>
            <p><input id="botao" type="submit" value="XPTOApp V1.0" /></p>
        </div>
    </section>
</body>