﻿@{
    ViewBag.Title = "XPTO - Tela Home";
}

@{
    Layout = "~/Views/_Layouts/LayoutSite.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/CSS/home.css">
}

<body>
    <header>
        <nav>
            <a class="bloco_nav" href=@Url.Action("Home", "XPTO")>Home</a>
            <a title="Baixe o nosso aplicativo" href=@Url.Action("Download", "XPTO")>Download</a>
            <a title="Adicionar, Excluir e Editar Analistas" href=@Url.Action("Index", "CRUD")>Analistas</a>
        </nav>
        <div class="logo_site">
            <img alt="Logo da Empresa XPTO" src="@Url.Content("~/Content/Images/logoprovisorio.png")" />
        </div>
    </header>

    <section>
        <div class="metade_maquina">
            <h2>
                Menu de Máquinas
            </h2>
        </div>
        <div class="metade_analista">
            <form>
                <input type="button" value="Logout" onclick="window.location.href=('@Url.Action("LogOut", "XPTO")')" />
            </form>
            <div class="analista">
                <div class="logout">
                    <img src="@Url.Content("~/Content/Images/user.png")">
                </div>
                <h4>Olá Analista, bem vindo.</h4>
            </div>
        </div>
    </section>

    <section id="maquinas">
        
    </section>
</body>


@section script {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    @*<script src="~/Content/Javascript/home.js" type="text/javascript"></script>*@
    <script src="~/Content/Javascript/maquinas.js" type="text/javascript"></script>
}