﻿@model ProjetoBandtec.Models.xptotba02_analista

@{
    ViewBag.Title = "XPTO - Tela de Login";
}

@{
    Layout = "~/Views/_Layouts/LayoutLogin.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/CSS/login.css">
}

<body>
    <div class="div_inicial">
        <div class="div_texto">
            <div class="frase_impacto">
                O importante é saber antes
                <br /> do chamado ser aberto!
            </div>
            <div class="resumo_simples">
                Um software desenvolvido especialmente para empresas. Levando agilidade
                <br />para seu dia a dia profissional através do monitoramento preventivo.
                <a title="Nossa Visão, Missão e Valores" href=@Url.Action("Sobre", "XPTO")>Saiba mais</a>
            </div>
        </div>
        <div>
            <!--
               <form enctype="application/x-www-form-urlencoded" method="get">
                    <input type="text" name="Seu Usuário" placeholder=" Seu Usuário" />
                    <input type="password" name="Senha" placeholder=" Sua Senha" />
                    <input type="submit" value="Entrar" />
                </form>
            -->
            @using (Html.BeginForm("Login", "XPTO", FormMethod.Post, new { @class = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                @Html.TextBoxFor(model => model.nome_usuario, new { @class = "nome_usuario", @placeholder = "Seu Usuário" })

                @Html.PasswordFor(model => model.senha, new { @class = "senha", @placeholder = "Sua Senha", @type = "password" })

                <input type="submit" value="Entrar" />

                <input type="button" value="Cadastrar" onclick="window.location.href=('@Url.Action("Cadastro", "XPTO")')" />

                <div style="padding-top:5px; color:red;">
                    @Html.ValidationMessageFor(model => model.nome_usuario)
                </div>

                <div style="padding-top:5px; color:red;">
                    @Html.ValidationMessageFor(model => model.senha)
                </div>
            }

            <div style="font-size:18px; padding-top:25px; padding-left:45px; color:red">@ViewBag.Alerta</div>
        </div>
        <div class="logo_login">
            <img alt="Logo da Empresa XPTO" src="@Url.Content("~/Content/images/logoprovisorio.png")" />
        </div>
    </div>
</body>