﻿@{
    ViewBag.Title = "XPTO - Máquinas";
}

@{
    Layout = "~/Views/_Layouts/LayoutSite.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/CSS/maquinas.css">

}
<head>
    <meta charset="UTF-8" />
</head>
<body>
<header>
    <nav>
        <div id="teste"></div>
    </nav>
    <div class="logo_site">
        <img alt="Logo da Empresa XPTO" src="@Url.Content("~/Content/Images/logoprovisorio.png")" />
    </div>
</header>

<section>
    <div class="metade_status">
        <h2 id="h2_status">Status Atual: Normal</h2>
    </div>
    <div class="metade_usuario">
        <form>
            <input type="button" value="Voltar" onclick="window.location.href=('@Url.Action("Home", "XPTO")')" />
        </form>
        <div class="usuario">
            <strong>Máquina</strong>
            <br />Aluno
            <br />
            <br />Windows 10
        </div>
    </div>
</section>

<section>
    <div class="cpu_esquerda">
        <img id="cpu" src="@Url.Content("~/Content/images/cpu.png")" />
        <h3>CPU</h3>
        <label id="percentual_cpu"></label>
    </div>
    <div class="ram_direita">
        <img id="ram" src="@Url.Content("~/Content/images/ram.png")" />
        <h3>RAM</h3>
        <label id="percentual_ram"></label>
    </div>
    <div class="hd_meio">
        <img id="hd1" src="@Url.Content("~/Content/images/hd.png")" />
        <h3>HD</h3>
        <label id="percentual_hd"></label>
    </div>
</section>
</body>

@section script {

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="~/Content/Javascript/datahora.js" type="text/javascript"></script>
    <script src="~/Content/Javascript/monitor.js" type="text/javascript"></script>

}

