﻿
@{
    ViewBag.Title = "Sobre";
}

@{
    Layout = "~/Views/_Layouts/LayoutSite.cshtml";
}

@section css {
    <link rel="stylesheet" href="~/Content/CSS/sobre.css">
}

<body>
    <header>
        <form>
            <input type="button" value="Voltar" onclick="window.location.href=('@Url.Action("Login", "XPTO")')" />
        </form>
        <div class="logo_site">
            <img alt="Logo da Empresa XPTO" src="@Url.Content("~/Content/Images/logoprovisorio.png")" />
        </div>
    </header>
    <div class="transparente">
        <section>
            <div class="missao_esquerda">
                <img id="missao" src="@Url.Content("~/Content/images/missão.png")" />
                <h3>Nossa Missão</h3>
                <p>
                    Proporcionar a empresas, de uma forma 
                    economicamente viável, soluções que facilitem o
                    monitoramento adequado de máquinas e seus componentes, 
                    prezando pela a eficiência da equipe de TI.
                </p>
            </div>
            <div class="visao_meio">
                <img id="visao" src="@Url.Content("~/Content/images/visão.png")" />
                <h3>Nossa Visão</h3>
                <p>
                    Sermos reconhecidos no segmento de monitoramento 
                    de hardware pela a qualidade de nossos serviços, 
                    oferecendo sempre ao cliente ideias inovadoras 
                    e criativas.
                </p>
            </div>
            <div class="valores_direita">
                <img id="valores" src="@Url.Content("~/Content/images/valores.png")" />
                <h3>Nossos Valores</h3>
                <p>
                    Transparência, Qualidade e Inovação.
                </p>
            </div>
        </section>
    </div>
</body>



