body {
    background-image: url(../Images/cadastro.jpg);
    margin: 0px;
    background-position: center;
    background-size: 100%;
    font-family: 'Lato', sans-serif;
}

.div_inicial {
    background-color: rgba(229, 233, 242, 0.6);
    margin-top: 90px;
    padding-bottom: 140px;
}

.div_texto {
    margin: 48px;
}

.frase_impacto {
    margin-top: -60px;
    font-size: 68px;
    color: rgb(71, 82, 94);
    padding-top: 90px;
    padding-bottom: 15px;
}

.resumo_simples {
    font-size: 23px;
    color: rgb(150, 159, 170);
}

.form {
    display: block;
    position: absolute;
    top: 33%;
    margin: 48px;
    padding-top: 15px;
}

.RazaoSocial {
    width: 200px;
    height: 37px;
    border-radius: 5px;
    border: none;
}

.Cnpj {
    width: 200px;
    height: 37px;
    border-radius: 5px;
    border: none;
    margin-left: 11px;
}

.DominioEmail {
    width: 200px;
    height: 37px;
    border-radius: 5px;
    border: none;
    margin-left: 11px;
}

.Hostname {
    width: 200px;
    height: 37px;
    border-radius: 5px;
    border: none;
}

.Usuario {
    width: 200px;
    height: 37px;
    border-radius: 5px;
    border: none;
    margin-left: 7px;
}

.Senha {
    width: 200px;
    height: 37px;
    border-radius: 5px;
    border: none;
    margin-left: 7px;
}

form [type=submit] {
    width: 98px;
    height: 37px;
    background-color: rgb(71, 82, 94);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 0px;
}

form [type=button] {
    width: 98px;
    height: 38px;
    background-color: rgb(71, 82, 94);
    color: white;
    border: none;
    border-radius: 5px;
}

.logo_login {
    position: absolute;
    left: 59%;
    top: 30%;
    width: 446px;
}