﻿body {
    font-family: 'Lato', sans-serif !important;
    background-color: rgb(229, 233, 242) !important;
    margin: 0px !important;
}

header {
    background-color: white;
    width: 100%;
    height: 55px;
}

nav {
    color: rgb(71, 82, 94);
    word-spacing: 36px;
    float: right;
    font-size: 18px;
    padding-right: 176px;
    padding-top: 15px;
}

    nav a {
        color: rgb(71, 82, 94);
        text-decoration: none !important;
    }

.bloco_nav {
    background-color: rgb(229, 233, 242);
    padding: 20px 30px;
}

.logo_site {
    padding-left: 70px;
    padding-top: 7px;
}

    .logo_site img {
        width: 100px;
    }

.webGrid {
    margin: 4px;
    border-collapse: collapse;
    width: 810px;
    font-family: Tahoma;
}

.grid-header {
    background-color: #990000;
    font-weight: bold;
    color: White !important;
}

.webGrid th a {
    color: White;
    text-decoration: none;
}

.webGrid th, .webGrid td {
    border: 1px solid black;
    padding: 5px;
}

.alt {
    background-color: #F4EFEF;
}

.webGrid th a:hover {
    text-decoration: underline;
}

.to-the-right {
    text-align: right;
}

.logo_login {
    position: absolute;
    left: 68%;
    top: 25%;
    width: 400px;
}
