body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(229, 233, 242);
    margin: 0px;
}

header {
    background-color: white;
    width: 100%;
    height: 55px;
}

nav {
    color: rgb(71, 82, 94);
    word-spacing: 36px;
    float: right;
    font-size: 18px;
    padding-right: 176px;
    padding-top: 15px;
}

nav a {
    color: rgb(71, 82, 94);
    text-decoration: none;
}

.bloco_nav {
    background-color: rgb(229, 233, 242);
    padding: 20px 30px;
}

.logo_site {
    padding-left: 70px;
    padding-top: 7px;
}

.logo_site img {
    width: 100px;
}

.metade_img {
    float: left;
    margin-top: 100px;
    margin-left: 13%;
}

.metade_img img {
    width: 554px;
}

.metade_txt {
    color: #5A6978;
    float: right;
    text-align: center;
    margin-top: 140px;
    margin-right: 13%;
    line-height: 30px;
}

#titulo {
    font-size: 48px;
}

#botao {
    width: 180px;
    height: 47px;
    background-color: rgb(71, 82, 94);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 7px;
    font-size: 18px;
}