body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(229, 233, 242);
    margin: 0px;
}

header {
    background-color: white;
    width: 100%;
    height: 55px;
}

nav {
    color: rgb(71, 82, 94);
    word-spacing: 36px;
    float: right;
    font-size: 18px;
    padding-right: 176px;
    padding-top: 15px;
}

nav a {
   color: rgb(71, 82, 94);
   text-decoration: none;
}

.bloco_nav {
    background-color: rgb(229, 233, 242);
    padding: 20px 30px;
}

.logo_site {
    padding-left: 70px;
    padding-top: 7px;
}

.logo_site img {
    width: 100px;
}

.metade_maquina {
    color: white;
    background-color: rgb(150, 159, 170);
    width: 45%;
    height: 85px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 16%;
    font-size: 20px;
}

H2 {
    text-align: center;
}

.metade_analista {
    color: white;
    background-color: rgb(150, 159, 170);
    width: 22%;
    height: 85px;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 16%;
}

.analista {
    font-size: 17px;
    padding-top: 0px;
    margin: 5px;
    text-align: center;
}

.logout {
    float: right;
    margin: 29px;
    margin-top: -18px;
}

.logout img {
   width: 45px;
}

form {
    display: block;
    position: absolute;
    top: 3%;
    padding-top: 100px;
    margin-left: 200px;
}

form [type=button] {
    width: 85px;
    height: 25px;
    background-color: rgb(71, 82, 94);
    color: white;
    border: none;
    border-radius: 5px;
}

.maquina_esquerda {
    color: rgb(71, 82, 94);
    background-color: white;
    width: 22%;
    height: 350px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 16%;
}

.maquina_meio {
    color: rgb(71, 82, 94);
    background-color: white;
    width: 22%;
    height: 350px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 8px;
}

.maquina_direita {
    color: rgb(71, 82, 94);
    background-color: white;
    width: 22%;
    height: 350px;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 16%;
}

h3 {
    text-align: center;
}

#maquina_img {
    width: 115px;
    margin-left: 95px;
    margin-top: 15px;
}

label {
    color: yellowgreen;
    font-size: 100px;
    padding-left: 50px;
    padding-top: 100px;
}
