body {
    background-image: url(../images/background.png);
    margin: 0px;
    background-position: center;
    background-size: 100%;
    font-family: 'Lato', sans-serif;
}

.div_inicial {
    background-color: rgba(229, 233, 242, 0.8);
    margin-top: 109px;
    padding-bottom: 120px;
}

nav {
    color: rgb(71, 82, 94);
    word-spacing: 20px;
    float: right;
    padding-right: 165px;
    padding-top: 48px;
    font-size: 18px;
}

nav a {
    text-decoration: none;
    color: rgb(71, 82, 94);
}

.div_texto {
    margin: 48px;
}

.frase_impacto {
    font-size: 50px;
    color: rgb(71, 82, 94);
    padding-top: 108px;
    padding-bottom: 20px;
}

.resumo_simples {
    font-size: 18px;
    color: grey;
}

.form {
    display: block;
    position: absolute;
    top: 54%;
    margin: 48px;
    padding-top: 15px;
}

.nome_usuario {
    width: 200px;
    height: 37px;
    border-radius: 5px;
    border: none;
}

.senha {
    width: 200px;
    height: 37px;
    border-radius: 5px;
    border: none;
    margin-left: 7px;
}

form [type=submit] {
    width: 110px;
    height: 37px;
    background-color: rgb(71, 82, 94);
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 7px;
}

form [type=button] {
    width: 110px;
    height: 38px;
    background-color: rgb(71, 82, 94);
    color: white;
    border: none;
    border-radius: 5px;
}

.logo_login {
    position: absolute;
    left: 59%;
    top: 37%;
    width: 446px;
}