﻿body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(229, 233, 242);
    margin: 0px;
}

header {
    background-color: white;
    width: 100%;
    height: 35px;
}

#teste {
    float: right;
    font-size: 18px;
    padding-right: 100px;
    padding-top: 9px;
}

.logo_site {
    padding-left: 70px;
    padding-top: 1px;
}

.logo_site img {
    width: 90px;
}

.metade_status {
    color: yellow;
    background-color: rgb(150, 159, 170);
    width: 45%;
    height: 85px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 16%;
    font-size: 23px;
}

H2 {
    text-align: center;
}

.opcoes {
    width: 10px;
    height: 5px;
    margin-left: 95px;
    margin-top: 15px;
    position: absolute;
}

.metade_usuario {
    color: white;
    background-color: rgb(150, 159, 170);
    width: 22%;
    height: 85px;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 16%;
}

.usuario {
    font-size: 17px;
    padding-top: 0px;
    margin: 5px;
}

.user {
    float: right;
    margin: 29px;
    margin-top: -1px;
}

.user img {
    width: 45px;
}

form {
    display: block;
    position: absolute;
    top: 0%;
    padding-top: 73px;
    margin-left: 180px;
}

form [type=button] {
    width: 95px;
    height: 35px;
    background-color: rgb(71, 82, 94);
    color: white;
    border: none;
    border-radius: 5px;
}

.cpu_esquerda {
    color: rgb(71, 82, 94);
    background-color: white;
    width: 22%;
    height: 500px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 16%;
}

H3 {
    text-align: center;
    border-bottom: 3px solid rgb(52, 63, 75);
}

.hd_meio {
    color: rgb(71, 82, 94);
    background-color: white;
    width: 22%;
    height: 500px;
    float: left;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 8px;
}

.ram_direita {
    color: rgb(71, 82, 94);
    background-color: white;
    width: 22%;
    height: 500px;
    float: right;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 16%;
}


#cpu {
    width: 115px;
    margin-left: 95px;
    margin-top: 15px;
}

#hd1 {
    width: 85px;
    margin-top: 13px;
    margin-left: 108px;
}

#hd2 {
    width: 85px;
    margin-top: 13px;
    margin-left: 108px;
}

#ram {
    width: 115px;
    margin-top: 60px;
    margin-left: 92px;
}

.ram_direita h3 {
    margin-top: 53px;
}

label {
    color: yellowgreen;
    font-size: 100px;
    padding-left: 50px;
    padding-top: 100px;
}