body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(229, 233, 242);
    margin: 0px;
}

header {
    background-color: white;
    width: 100%;
    height: 53px;
}

nav {
    color: rgb(71, 82, 94);
    word-spacing: 36px;
    float: right;
    font-size: 18px;
    padding-right: 90px;
    padding-top: 20px;
}

nav a {
    color: rgb(71, 82, 94);
    text-decoration: none;
}

.bloco_nav {
    background-color: rgb(229, 233, 242);
    padding: 20px 30px;
}

.logo_site {
    padding-left: 45px;
    padding-top: 5px;
}

.logo_site img {
    width: 116px;
}