body {
    font-family: 'Lato', sans-serif;
    background-color: rgb(229, 233, 242);
    background-image: url(../Images/background.png);
    background-position:center;
    margin: 0px;
}

header {
    background-color: white;
    width: 100%;
    height: 53px;
}

form {
    margin-right: 50px;
    padding-top: 7px;
}

form [type=button] {
    float: right;
    width: 130px;
    height: 40px;
    background-color: rgb(71, 82, 94);
    color: white;
    border: none;
    border-radius: 5px;
}

.logo_site {
    padding-left: 45%;
    margin-top: -8px;
}

.logo_site img {
    width: 140px;
}

.transparente {
    background-color: rgba(229, 233, 242, 0.5);
    margin-top: 15px;
    padding-bottom: 550px;
}

.missao_esquerda {
    color: rgb(71, 82, 94);
    background-color: white;
    width: 22%;
    height: 500px;
    float: left;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 16%;
}

.visao_meio {
    color: rgb(71, 82, 94);
    background-color: white;
    width: 22%;
    height: 500px;
    float: left;
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 8px;
}

.valores_direita {
    color: rgb(71, 82, 94);
    background-color: white;
    width: 22%;
    height: 500px;
    float: right;
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 16%;
}

h3 {
    text-align: center;
}

#missao {
    width: 170px;
    margin-left: 67px;
    margin-top: 50px;
}

#visao {
    width: 170px;
    margin-top: 51px;
    margin-left: 67px;
}

#valores {
    width: 170px;
    margin-top: 46px;
    margin-left: 67px;
}

p {
    color: rgb(129, 144, 165);
    font-size: 20px;
    margin: 5px;
    padding-top: 10px;
    text-align: center;
}
