﻿<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="@Url.Content("~/Content/CSS")" /> @RenderSection("css", required: false)
</head>

<body>
    @RenderBody();
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script> @RenderSection("script", required: false)
</body>
 
</html>

