﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Site XPTO</title>
    <link href="~/Content/CSS/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/CSS/CRUD.css" rel="stylesheet" />
    <link href="~/Content/Bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <header>
        <nav>
            <a title="Tela de Máquinas" href=@Url.Action("Home", "XPTO")>Home</a>
            <a title="Baixe o nosso aplicativo" href=@Url.Action("Download", "XPTO")>Download</a>
            <a class="bloco_nav" href=@Url.Action("Index", "CRUD")>Analistas</a>
        </nav>
    </header>

    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <div class="logo_login">
        <img alt="Logo da Empresa XPTO" src="@Url.Content("~/Content/images/logoprovisorio.png")" />
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>