﻿@model ProjetoBandtec.Models.xptotba02_analista

@{
    Layout = "~/Views/_Layouts/LayoutCRUD.cshtml";
}

@{
    ViewBag.Title = "DeletarAnalista";
}
<h2>Deletar Analista</h2>
<h3 style="color:red">Tem certeza de que deseja deletar este analista?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_usuario)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-actions no-color">
            <input type="submit" value="Deletar Usuário" class="btn btn-danger" /> |
            @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-success" })
        </div>
    }
</div>
