﻿@model ProjetoBandtec.Models.xptotba02_analista

@{
    Layout = "~/Views/_Layouts/LayoutCRUD.cshtml";
}

@{
    ViewBag.Title = "Detalhes";
}
<h2>Detalhes do Analista</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nome_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nome_usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.senha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.senha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditarAnalista", new { id = Model.id }, new { @class = "btn btn-primary" }) |
    @Html.ActionLink("Retornar", "Index", null, new { @class = "btn btn-success" })
</p>
