﻿@model IEnumerable<ProjetoBandtec.Models.xptotba02_analista>

@{
    Layout = "~/Views/_Layouts/LayoutCRUD.cshtml";
}

@{
    ViewBag.Title = "Index";
    var grid = new WebGrid(source: Model, canPage: true, defaultSort: "User_Id", rowsPerPage: 5, canSort: true);
}
<br />
<p>
    @Html.ActionLink("Novo Analista", "AdicionarAnalista", null, new { @class = "btn btn-primary" })
</p>
@grid.GetHtml(
tableStyle: "webGrid",
htmlAttributes: new { id = "checkableGrid" },
fillEmptyRows: true,
alternatingRowStyle: "alt",
headerStyle: "grid-header",
footerStyle: "foot-grid",
mode: WebGridPagerModes.All,
firstText: "<< Primeiro",
previousText: " < Anterior",
nextText: "Próximo >",
lastText: "Último >>",
caption: "Detalhes do Usuario",
emptyRowCellValue: null,
columns: new[]{
grid.Column("id",header:"ID",style:"text-align-left"),
grid.Column("nome_usuario",header:"Nome"),
grid.Column("cliente_hostname",header:"Hostname"),
grid.Column("tipo_usuario",header:"Tipo de Usuário"),
grid.Column("",header: "Ações",format: @<text>@Html.ActionLink("Editar", "EditarAnalista", new { id = item.id })
    |
@Html.ActionLink("Deletar", "DeletarAnalista", new { id = item.id })
    |
@Html.ActionLink("Detalhes", "Detalhes", new { id = item.id })
</text>
    )
             }
              )
